**/__pycache__/
*.pyc
*.pyo
*.pyd
./testing/
./lsf/test/
./lsf/tests/
testing/lsf/formod/data/order=70_lsf_model_segm=14.txt
testing/lsf/formod/data/order=70_lsf_model_segm=15.txt
testing/lsf/formod/data/order=70_lsf_model_segm=16.txt
testing/lsf/formod/data/order=70_lsf_model_segm=2.txt
testing/lsf/formod/data/order=70_lsf_model_segm=3.txt
testing/lsf/formod/data/order=70_lsf_model_segm=4.txt
testing/lsf/formod/data/order=70_lsf_model_segm=5.txt
testing/lsf/formod/data/order=70_lsf_model_segm=6.txt
testing/lsf/formod/data/order=70_lsf_model_segm=7.txt
testing/lsf/formod/data/order=70_lsf_model_segm=8.txt
testing/lsf/formod/data/order=70_lsf_model_segm=9.txt
testing/lsf/formod/data/order=70_model_pixel_segm=1.txt
testing/lsf/formod/data/order=70_model_pixel_segm=10.txt
testing/lsf/formod/data/order=70_model_pixel_segm=11.txt
testing/lsf/formod/data/order=70_model_pixel_segm=12.txt
testing/lsf/formod/data/order=70_model_pixel_segm=13.txt
testing/lsf/formod/data/order=70_model_pixel_segm=14.txt
testing/lsf/formod/data/order=70_model_pixel_segm=15.txt
testing/lsf/formod/data/order=70_model_pixel_segm=16.txt
testing/lsf/formod/data/order=70_model_pixel_segm=2.txt
testing/lsf/formod/data/order=70_model_pixel_segm=3.txt
testing/lsf/formod/data/order=70_model_pixel_segm=4.txt
testing/lsf/formod/data/order=70_model_pixel_segm=5.txt
testing/lsf/formod/data/order=70_model_pixel_segm=6.txt
testing/lsf/formod/data/order=70_model_pixel_segm=7.txt
testing/lsf/formod/data/order=70_model_pixel_segm=8.txt
testing/lsf/formod/data/order=70_model_pixel_segm=9.txt
testing/lsf/formod/data/order=70_points_segm=1.txt
testing/lsf/formod/data/order=70_points_segm=10.txt
testing/lsf/formod/data/order=70_points_segm=11.txt
testing/lsf/formod/data/order=70_points_segm=12.txt
testing/lsf/formod/data/order=70_points_segm=13.txt
testing/lsf/formod/data/order=70_points_segm=14.txt
testing/lsf/formod/data/order=70_points_segm=15.txt
testing/lsf/formod/data/order=70_points_segm=16.txt
testing/lsf/formod/data/order=70_points_segm=2.txt
testing/lsf/formod/data/order=70_points_segm=3.txt
testing/lsf/formod/data/order=70_points_segm=4.txt
testing/lsf/formod/data/order=70_points_segm=5.txt
testing/lsf/formod/data/order=70_points_segm=6.txt
testing/lsf/formod/data/order=70_points_segm=7.txt
testing/lsf/formod/data/order=70_points_segm=8.txt
testing/lsf/formod/data/order=70_points_segm=9.txt
testing/lsf/formod/data/order=84_forward_model.txt
testing/lsf/formod/data/order=84_lsf_model_segm=1.txt
testing/lsf/formod/data/order=84_lsf_model_segm=10.txt
testing/lsf/formod/data/order=84_lsf_model_segm=11.txt
testing/lsf/formod/data/order=84_lsf_model_segm=12.txt
testing/lsf/formod/data/order=84_lsf_model_segm=13.txt
testing/lsf/formod/data/order=84_lsf_model_segm=14.txt
testing/lsf/formod/data/order=84_lsf_model_segm=15.txt
testing/lsf/formod/data/order=84_lsf_model_segm=16.txt
testing/lsf/formod/data/order=84_lsf_model_segm=2.txt
testing/lsf/formod/data/order=84_lsf_model_segm=3.txt
testing/lsf/formod/data/order=84_lsf_model_segm=4.txt
testing/lsf/formod/data/order=84_lsf_model_segm=5.txt
testing/lsf/formod/data/order=84_lsf_model_segm=6.txt
testing/lsf/formod/data/order=84_lsf_model_segm=7.txt
testing/lsf/formod/data/order=84_lsf_model_segm=8.txt
testing/lsf/formod/data/order=84_lsf_model_segm=9.txt
testing/lsf/formod/data/order=84_model_pixel_segm=1.txt
testing/lsf/formod/data/order=84_model_pixel_segm=10.txt
testing/lsf/formod/data/order=84_model_pixel_segm=11.txt
testing/lsf/formod/data/order=84_model_pixel_segm=12.txt
testing/lsf/formod/data/order=84_model_pixel_segm=13.txt
testing/lsf/formod/data/order=84_model_pixel_segm=14.txt
testing/lsf/formod/data/order=84_model_pixel_segm=15.txt
testing/lsf/formod/data/order=84_model_pixel_segm=16.txt
testing/lsf/formod/data/order=84_model_pixel_segm=2.txt
testing/lsf/formod/data/order=84_model_pixel_segm=3.txt
testing/lsf/formod/data/order=84_model_pixel_segm=4.txt
testing/lsf/formod/data/order=84_model_pixel_segm=5.txt
testing/lsf/formod/data/order=84_model_pixel_segm=6.txt
testing/lsf/formod/data/order=84_model_pixel_segm=7.txt
testing/lsf/formod/data/order=84_model_pixel_segm=8.txt
testing/lsf/formod/data/order=84_model_pixel_segm=9.txt
testing/lsf/formod/data/order=84_points_segm=1.txt
testing/lsf/formod/data/order=84_points_segm=10.txt
testing/lsf/formod/data/order=84_points_segm=11.txt
testing/lsf/formod/data/order=84_points_segm=12.txt
testing/lsf/formod/data/order=84_points_segm=13.txt
testing/lsf/formod/data/order=84_points_segm=14.txt
testing/lsf/formod/data/order=84_points_segm=15.txt
testing/lsf/formod/data/order=84_points_segm=16.txt
testing/lsf/formod/data/order=84_points_segm=2.txt
testing/lsf/formod/data/order=84_points_segm=3.txt
testing/lsf/formod/data/order=84_points_segm=4.txt
testing/lsf/formod/data/order=84_points_segm=5.txt
testing/lsf/formod/data/order=84_points_segm=6.txt
testing/lsf/formod/data/order=84_points_segm=7.txt
testing/lsf/formod/data/order=84_points_segm=8.txt
testing/lsf/formod/data/order=84_points_segm=9.txt
testing/lsf/formod/data/order=85_forward_model.txt
testing/lsf/formod/data/order=85_lsf_model_segm=1.txt
testing/lsf/formod/data/order=85_lsf_model_segm=10.txt
testing/lsf/formod/data/order=85_lsf_model_segm=11.txt
testing/lsf/formod/data/order=85_lsf_model_segm=12.txt
testing/lsf/formod/data/order=85_lsf_model_segm=13.txt
testing/lsf/formod/data/order=85_lsf_model_segm=14.txt
testing/lsf/formod/data/order=85_lsf_model_segm=15.txt
testing/lsf/formod/data/order=85_lsf_model_segm=16.txt
testing/lsf/formod/data/order=85_lsf_model_segm=2.txt
testing/lsf/formod/data/order=85_lsf_model_segm=3.txt
testing/lsf/formod/data/order=85_lsf_model_segm=4.txt
testing/lsf/formod/data/order=85_lsf_model_segm=5.txt
testing/lsf/formod/data/order=85_lsf_model_segm=6.txt
testing/lsf/formod/data/order=85_lsf_model_segm=7.txt
testing/lsf/formod/data/order=85_lsf_model_segm=8.txt
testing/lsf/formod/data/order=85_lsf_model_segm=9.txt
testing/lsf/formod/data/order=85_model_pixel_segm=1.txt
testing/lsf/formod/data/order=85_model_pixel_segm=10.txt
testing/lsf/formod/data/order=85_model_pixel_segm=11.txt
testing/lsf/formod/data/order=85_model_pixel_segm=12.txt
testing/lsf/formod/data/order=85_model_pixel_segm=13.txt
testing/lsf/formod/data/order=85_model_pixel_segm=14.txt
testing/lsf/formod/data/order=85_model_pixel_segm=15.txt
testing/lsf/formod/data/order=85_model_pixel_segm=16.txt
testing/lsf/formod/data/order=85_model_pixel_segm=2.txt
testing/lsf/formod/data/order=85_model_pixel_segm=3.txt
testing/lsf/formod/data/order=85_model_pixel_segm=4.txt
testing/lsf/formod/data/order=85_model_pixel_segm=5.txt
testing/lsf/formod/data/order=85_model_pixel_segm=6.txt
testing/lsf/formod/data/order=85_model_pixel_segm=7.txt
testing/lsf/formod/data/order=85_model_pixel_segm=8.txt
testing/lsf/formod/data/order=85_model_pixel_segm=9.txt
testing/lsf/formod/data/order=85_points_segm=1.txt
testing/lsf/formod/data/order=85_points_segm=10.txt
testing/lsf/formod/data/order=85_points_segm=11.txt
testing/lsf/formod/data/order=85_points_segm=12.txt
testing/lsf/formod/data/order=85_points_segm=13.txt
testing/lsf/formod/data/order=85_points_segm=14.txt
testing/lsf/formod/data/order=85_points_segm=15.txt
testing/lsf/formod/data/order=85_points_segm=16.txt
testing/lsf/formod/data/order=85_points_segm=2.txt
testing/lsf/formod/data/order=85_points_segm=3.txt
testing/lsf/formod/data/order=85_points_segm=4.txt
testing/lsf/formod/data/order=85_points_segm=5.txt
testing/lsf/formod/data/order=85_points_segm=6.txt
testing/lsf/formod/data/order=85_points_segm=7.txt
testing/lsf/formod/data/order=85_points_segm=8.txt
testing/lsf/formod/data/order=85_points_segm=9.txt
testing/lsf/formod/data/order=90_forward_model.txt
testing/lsf/formod/data/order=90_lsf_model_segm=1.txt
testing/lsf/formod/data/order=90_lsf_model_segm=10.txt
testing/lsf/formod/data/order=90_lsf_model_segm=11.txt
testing/lsf/formod/data/order=90_lsf_model_segm=12.txt
testing/lsf/formod/data/order=90_lsf_model_segm=13.txt
testing/lsf/formod/data/order=90_lsf_model_segm=14.txt
testing/lsf/formod/data/order=90_lsf_model_segm=15.txt
testing/lsf/formod/data/order=90_lsf_model_segm=16.txt
testing/lsf/formod/data/order=90_lsf_model_segm=2.txt
testing/lsf/formod/data/order=90_lsf_model_segm=3.txt
testing/lsf/formod/data/order=90_lsf_model_segm=4.txt
testing/lsf/formod/data/order=90_lsf_model_segm=5.txt
testing/lsf/formod/data/order=90_lsf_model_segm=6.txt
testing/lsf/formod/data/order=90_lsf_model_segm=7.txt
testing/lsf/formod/data/order=90_lsf_model_segm=8.txt
testing/lsf/formod/data/order=90_lsf_model_segm=9.txt
testing/lsf/formod/data/order=90_model_pixel_segm=1.txt
testing/lsf/formod/data/order=90_model_pixel_segm=10.txt
testing/lsf/formod/data/order=90_model_pixel_segm=11.txt
testing/lsf/formod/data/order=90_model_pixel_segm=12.txt
testing/lsf/formod/data/order=90_model_pixel_segm=13.txt
testing/lsf/formod/data/order=90_model_pixel_segm=14.txt
testing/lsf/formod/data/order=90_model_pixel_segm=15.txt
testing/lsf/formod/data/order=90_model_pixel_segm=16.txt
testing/lsf/formod/data/order=90_model_pixel_segm=2.txt
testing/lsf/formod/data/order=90_model_pixel_segm=3.txt
testing/lsf/formod/data/order=90_model_pixel_segm=4.txt
testing/lsf/formod/data/order=90_model_pixel_segm=5.txt
testing/lsf/formod/data/order=90_model_pixel_segm=6.txt
testing/lsf/formod/data/order=90_model_pixel_segm=7.txt
testing/lsf/formod/data/order=90_model_pixel_segm=8.txt
testing/lsf/formod/data/order=90_model_pixel_segm=9.txt
testing/lsf/formod/data/order=90_points_segm=1.txt
testing/lsf/formod/data/order=90_points_segm=10.txt
testing/lsf/formod/data/order=90_points_segm=11.txt
testing/lsf/formod/data/order=90_points_segm=12.txt
testing/lsf/formod/data/order=90_points_segm=13.txt
testing/lsf/formod/data/order=90_points_segm=14.txt
testing/lsf/formod/data/order=90_points_segm=15.txt
testing/lsf/formod/data/order=90_points_segm=16.txt
testing/lsf/formod/data/order=90_points_segm=2.txt
testing/lsf/formod/data/order=90_points_segm=3.txt
testing/lsf/formod/data/order=90_points_segm=4.txt
testing/lsf/formod/data/order=90_points_segm=5.txt
testing/lsf/formod/data/order=90_points_segm=6.txt
testing/lsf/formod/data/order=90_points_segm=7.txt
testing/lsf/formod/data/order=90_points_segm=8.txt
testing/lsf/formod/data/order=90_points_segm=9.txt
